%h3 Create a New Microphone
%p.borderB
  Users will be able to use this piece of gear after you create it. 
  %br
  All fields are not required, but you won't be able to edit them later. 
- semantic_form_for @mic, :html => {:multipart => true} do |f|
  .col.first.w45= render(:partial => 'gear/form', :locals => {:f => f})
  .col.w15
    = f.input :mic_type, :as => :select, :collection => Mic.types, :label => 'Type'
    = f.input :diaphragm_size, :as => :select, :collection => Mic.diaphragm_sizes
    = f.input :pattern, :as => :select, :collection => Mic.patterns
    - if @chain
      = hidden_field_tag :chain_id, @chain.id
  .clear
  = f.buttons