= h microphone.make
= h microphone.model
= image_tag microphone.image.url(:thumb)
= h microphone.mic_type
= h microphone.diaphragm_size
= h microphone.pattern
= link_to 'Show', @chain.nil? ? microphone : chain_mic_path(@chain, microphone)
= link_to 'Edit', edit_mic_path(microphone)
= link_to 'Destroy', microphone, :confirm => 'Are you sure?', :method => :delete
%br