- title "Mic"

%p
  %strong Make:
  =h @mic.make
%p
  %strong Model:
  =h @mic.model
%p
  %strong Image:
  = image_tag @mic.image.url
%p
  %strong Mic Type:
  =h @mic.mic_type
%p
  %strong Diaphragm Size:
  =h @mic.diaphragm_size
%p
  %strong Pattern:
  =h @mic.pattern

- if @chain
  = link_to 'Add this mic to your chain', add_mic_path(:chain_id => @chain.id, :mic_id => @mic.id)

- if current_user
  .w50.first.col
    - semantic_form_for @mic.comments.build, :url => mic_comments_path(@mic) do |f|
      = render(:partial => 'comments/form', :locals => {:f => f})

.w50.first.col
  = render(:partial => 'comments/comment', :collection => @mic.comments)

%p
  = link_to "Edit", edit_mic_path(@mic)
  |
  = link_to "Destroy", @mic, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", mics_path
