- title "Signal Chains: Gear"
.first.col.w68
  %h3 Browse Gear by type
  = link_to 'Microphones', mics_path, :id => 'new_mic', :class => 'block-btn first col w5'
  = link_to 'Preamps', preamps_path, :id => 'new_preamp', :class => 'block-btn w5 col'
  = link_to 'Dynamics Processors', dynamics_processors_path, :id => 'new_dynamics', :class => 'block-btn w5 col'
  = link_to 'EQs', equalizers_path, :id => 'new_eq', :class => 'block-btn w5 col'
  = link_to 'Effects', effects_processors_path, :id => 'new_effects', :class => 'block-btn w5 col'
  = link_to 'Converters', converters_path, :id => 'new_converter', :class => 'block-btn w5 col'  
  .first
.first.col-3
  %h4 Most Used
  %ul.list
    - most_used_gear.each do |gear|
      %li= link_to gear.name, gear
.col-3-2
  - if Gear.featured
    .col-3-2#featured-gear
      %h4 Featured Gear
      %h4= link_to "<span>#{Gear.featured.name}</span>", Gear.featured, {:style => 'background-image: url(' "#{Gear.featured.image.url(:featured)}" ')'}
