- title("Signal Chains: #{@class.to_s.underscore.humanize.pluralize.titleize}")

#search
  %h3 Find the gear you're looking for
  %h5 Live search through the gear database
  = render(:partial => "#{@class.to_s.pluralize.underscore}/search_form")

%br.clear

#gear= render(:partial => 'gear/index_gear', :collection => collection, :order => 'name', :direction => 'asc')

.bucket#new_gear
  %h3 Can't find it?
  %h5 No problem. Add it in yourself.
  .w25
    = new_button(@class)


:javascript
  $(function () {
    $('input').keyup(search);
    $('select').change(search);
  });

  function search() {
    $('#search_form').ajaxSubmit({ target: '#gear' });
  }