- title "#{object.make} #{object.model} - Signal Chains"

.first.col.w30
  %h1.snug= @object.model
  %h5
    by
    = @object.make
  = render(:partial => @class.index_partial, :object => object)
  %br
  %br
  - if @chain
    = add_to_chain_button(object)

    %br.clear
  - admin_only do
    = link_to '<span>Feature</span>', eval("feature_#{@class.to_s.underscore}_path(object)"), :class => 'btn w10'

  .community.first.vspace
    .social-links
      %h5 Community Recommendations
      = recommend_link(@object)

  %h5
    Chains with a
    = @object.model
  %ul.list
    - @object.chains.complete.each do |chain|
      %li
        %h6= link_to chain.name, chain

.col.w37
  .image= link_to image_tag(@object.image.url(:display)), @object.image.url, :title => "#{@object.make} #{@object.model}", :class => 'zoom'
#comments.first
  %h3 Comments
  .first
    - authenticated_only do
      .w45.first.col
        - semantic_form_for object.comments.new, :url => gear_comments_path(object) do |f|
          = render(:partial => 'comments/form', :locals => {:f => f})
      .w20.col
        .avatar.col.snug
          = image_tag current_user.avatar.url(:thumb)
        .w10.col
          = current_user.display_name

  .first
    = render(:partial => 'comments/comment', :collection => object.comments)
