- title "Signal Chains Blog: #{@blog_post.title}"

#blog-nav
  %h4= link_to '&larr; Back to The Sounding Board', blog_posts_path

%article
  = render :partial => "article", :object => @blog_post

  #comments.first
    %h3 Comments

    - authenticated_only do
      .w45.first.col
        - semantic_form_for @blog_post.comments.new, :url => blog_post_comments_path(@blog_post) do |f|
          = render(:partial => 'comments/form', :locals => {:f => f})
      .w20.col
        .avatar
          = image_tag current_user.avatar.url(:thumb)
        .username
          = current_user.display_name
    = render(:partial => 'comments/comment', :collection => @blog_post.comments)
    .clear

- content_for(:admin) do
  = link_to 'Edit', edit_admin_blog_post_path(@blog_post)
