= form.label :login, 'Username'
= form.text_field :login
%br
%br
= form.label :display_name
= form.text_field :display_name
%br
%br
= form.label :email
= form.text_field :email
%br
%br
= form.label :avatar
= image_tag @user.avatar.url(:thumb)
= form.file_field :avatar
%br
%br
= form.label :password, form.object.new_record? ? nil : "Change password"
= form.password_field :password
%br
%br
= form.label :password_confirmation
= form.password_field :password_confirmation
%br
%br