.bucket.user-page
  .first.col.w50
    %h1
      = link_to image_tag(@user.avatar.url(:thumb), :alt => @user.display_name), @user.avatar.url(:display), :class => 'zoom'
      = @user.display_name
  .col.w10#follow
    = follow_button(@user)
    - if current_user == @user
      = link_to "<span>New Chain</span>", new_chain_path, :class => 'btn w10'    
  .first

#feed.col.first.w40
  %h3 Events
  - if @events.empty?
    - if @user == current_user
      %p
        %small There is no activity to show here, and that's pretty lame. Start following someone or do something fantastic to fill this empty void.
    - else
      %p
        %small
          = @user.display_name
          hasn't really done anything worth talking about. Try back later when they get their bearings.

  -else
    - for event in @events
      = render(:partial => "events/#{event.event_type}", :object => event)
  
  = will_paginate(@events)

.col.w25#user-chains
  %h3 Chains
  - unless @user.chains.empty?
    %h4= link_to 'Created', chains_by_login_path(:username => @user.login)
    %ul.list
      - @chains.each do |chain|
        %li= link_to chain.name, chain
    - if @chains.size > 0
      = link_to "<small>View All (#{@user.chains.count})</small>", chains_by_login_path(:username => @user.login)

  - unless @user.liked_chains.empty?
    %h4 Liked
    %ul.list
      - @user.liked_chains.all(:limit => 5, :order => 'created_at DESC').each do |chain|
        %li= link_to chain.name, chain

    - if @recommended_chains
      %h4 Recommended
      %ul.list
        - @recommended_chains.each do |chain|
          %li= link_to chain.name, chain
.first