.content-title
  %h1= @user.login
= follow_button(@user)
.first
#feed.col.first.w40
  %h3 Events
  - for event in @events
    = render(:partial => "events/#{event.event_type}", :object => event)
.col.w25
  %h3 Created Chains
  %ul
    - if @user == current_user
      - @user.chains.each do |chain|
        %li= link_to chain.name, chain
    - else
      - @user.chains.complete.each do |chain|
        %li= link_to chain.name, chain

  / %h3 Liked Chains
  / %ul
  /   - @user.liked_chains.each do |chain|
  /     %li= link_to chain.name, chain
  / %h3 Recommended
  / %ul
  /   - @recommended_chains.each do |chain|
  /     %li= link_to chain.name, chain
.first