.unit
  .col.thumb
    = link_to image_tag(dynamics_processor.image.url(:thumb), :alt => dynamics_processor.model), @chain.nil? ? dynamics_processor : chain_dynamics_processor_path(@chain, dynamics_processor)
  .col.w45  
    %h3
      = link_to "#{dynamics_processor.make} #{dynamics_processor.model}", @chain.nil? ? dynamics_processor : chain_dynamics_processor_path(@chain, dynamics_processor)
    %span= h dynamics_processor.compression_type
    %span= h dynamics_processor.circuitry
    %br
    %em= h dynamics_processor.interface
  .col.w15
    .w15
      = link_to '<span>Add to Chain</span>', '#', :class => 'btn'
    %span.score
      90
  %br.clear