= h dynamics_processor.make
= h dynamics_processor.model
= h dynamics_processor.manufactured_date
= image_tag dynamics_processor.image.url
= h dynamics_processor.circuitry
= h dynamics_processor.compression_type
= link_to 'Show', @chain.nil? ? dynamics_processor : chain_dynamics_processor_path(@chain, dynamics_processor)
= link_to 'Edit', edit_dynamics_processor_path(dynamics_processor)
= link_to 'Destroy', dynamics_processor, :confirm => 'Are you sure?', :method => :delete
%br.clear