- semantic_form_for @search, :url => {:controller => :dynamics_processors, :action => :search}, :html => {:id => 'search_form'} do |f|
  = f.input :make_like, :input_html => { :size => 27 }
  = f.input :model_like, :input_html => { :size => 27 }

  = f.input :dynamics_type, :as => :select, :collection => DynamicsProcessor.dynamics_types, :label => 'Type'
  = f.input :interface, :as => :select, :collection => DynamicsProcessor.interfaces

  - if @chain
    = hidden_field_tag :chain_id, @chain.id