- semantic_form_for @search, :url => {:controller => :dynamics_processors, :action => :search}, :html => {:id => 'search_form'} do |f|
  = f.input :make_like, :input_html => { :size => 27}, :wrapper_html => {:class => 'first col w20'}, :label => 'Make', :required => false
  = f.input :model_like, :input_html => { :size => 27 }, :wrapper_html => {:class => 'col w20'}, :label => 'Model', :required => false

  = f.input :dynamics_type, :as => :select, :collection => DynamicsProcessor.dynamics_types, :label => 'Type', :wrapper_html => {:class => 'col w10'}, :required => false
  = f.input :interface, :as => :select, :collection => DynamicsProcessor.interfaces, :wrapper_html => {:class => 'col w10'}, :required => false
  - if @chain
    = hidden_field_tag :chain_id, @chain.id  
.clear