= h preamp.make
= h preamp.model
= h preamp.manufactured_date
= image_tag preamp.image.url
= h preamp.circuitry
= link_to 'Show', @chain.nil? ? preamp : chain_preamp_path(@chain, preamp)
= link_to 'Edit', edit_preamp_path(preamp)
= link_to 'Destroy', preamp, :confirm => 'Are you sure?', :method => :delete
%br.clear