- title "Preamps"

%table
  %tr
    %th Make
    %th Model
    %th Manufactured date
    %th Image
    %th Circuitry
  - for preamp in @preamps
    %tr
      %td= h preamp.make
      %td= h preamp.model
      %td= h preamp.manufactured_date
      %td= image_tag preamp.image.url
      %td= h preamp.circuitry
      %td= link_to 'Show', preamp
      %td= link_to 'Edit', edit_preamp_path(preamp)
      %td= link_to 'Destroy', preamp, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Preamp", @chain.nil? ? new_preamp_path : new_chain_preamp_path(@chain)
