#intro.first
  #login-reg.first.col.w20
    = link_to "<span>Login</span>", login_path, :class => 'btn first'
    = link_to "<span>Register</span>", register_path, :class => 'btn'
  .col.text
    %p Signal Chains is a community-driven website for audio engineers and gear lovers, showcasing how we use different gear to get the sounds we want.
    %p By building a chain, you can document exactly what elements were involved in achieving that killer vocal sound or soothing sax solo. Others can view this chain, listen to the result, and become impressed with your imagination and talent.
  .first
    

.first.col-3
  %h4 Featured Chain
  - if Chain.featured
    .first.col.w5
      = link_to(image_tag(Chain.featured.input_source.gear.image.url(:micro)), Chain.featured)
    .col.w14
      = link_to(Chain.featured.name, Chain.featured)
      %br
      by
      = link_to(Chain.featured.user.display_name, user_by_login_path(Chain.featured.user.login))
- if Gear.featured
  .col-3-2#featured-gear
    %h4 Featured Gear
    %h4= link_to "<span>#{Gear.featured.name}</span>", Gear.featured, {:style => 'background-image: url(' "#{Gear.featured.image.url(:featured)}" ')'}
.first.col-3
  %h4 Most Used Gear
  %ul
    - most_used_gear.each do |gear|
      %li= link_to gear.name, gear
.col-3
  %h4 Newest Chains
  %ul
    - @new_chains.each do |chain|
      %li= link_to(chain.name, chain)
.col-3
  %h4 Newest Users
  %ul
    - @new_users.each do |user|
      %li= link_to(user.display_name, user_by_login_path(user))

%br.clear
%br.clear
%h4 Browse Gear
= link_to 'Microphones', mics_path, :id => 'new_mic', :class => 'block-btn first col w5'
= link_to 'Preamps', preamps_path, :id => 'new_preamp', :class => 'block-btn w5 col'
= link_to 'Dynamics Processors', dynamics_processors_path, :id => 'new_dynamics', :class => 'block-btn w5 col'
= link_to 'EQs', equalizers_path, :id => 'new_eq', :class => 'block-btn w5 col'
= link_to 'Effects', effects_processors_path, :id => 'new_effects', :class => 'block-btn w5 col'