%ul
  %li= link_to 'Mics', mics_path
  %li= link_to 'Preamps', preamps_path
  %li= link_to 'Equalizers', equalizers_path
  %li= link_to 'Dynamics Processors', dynamics_processors_path
  %li= link_to 'Effects Processors', effects_processors_path