.unit.w45.col.first
  .col.first.thumb
    - if chain.input_source && chain.input_source.gear
      = link_to image_tag(chain.input_source_image(:thumb), :alt => chain.input_source_model), chain
    .social-links
      = like_link(chain)
      = comments_link(chain)
  .col.w30
    %h4
      = link_to chain.name, chain
    %h6
      &ldquo;#{chain.title}&rdquo;
      by
      = chain.performer
      &mdash;
      = chain.year
    %p 
      Created by
      = link_to(chain.user.display_name, user_by_login_path(chain.user.login))      
    =textilize chain.notes
  .first
%br.clear