- if @user
  - title "Signal Chains: #{@user.display_name}'s Chains"
- else
  - title "Signal Chains: Chains"
.col.first.w45
  - if @user
    %h3= "#{@user.display_name}'s Chains"
  - else
    %h3 Chains
  %h4
    Listed newest to oldest
.col.w20
  = link_to "<span>#{image_tag 'icons/add.png'} Create a Chain</span>", new_chain_path, :class => 'btn w15'
.col.first.w45
  = render(:partial => 'chains/chain', :collection => collection)
.col.w20
  #tops
    %h3 Top Tags
    .tags
      - if @tags.any?
        - tag_cloud(@tags, %w()) do |tag, css_class|
          %span= link_to(h(tag.name), tag_path(tag.name))  
.first
  = will_paginate(collection, :next_label => 'Next &rarr;', :prev_label => '&larr; Previous')