- title "Chain"
.chain
  .info
    %h2= h @chain.name
    %h5
      by
      =h @chain.user.email
    .info.first.col.w25
      =textilize @chain.notes
      .tags.col
        Tags:
        - for tag in @chain.tags
          %span=h tag.name
      .clear
    - unless @input_source.nil?
      = render(:partial => 'chain_gears/input_source', :object => @input_source)
  = render(:partial => 'chain_gears/chain_gear', :collection => @gear)

.w50.first.col
  - unless @chain.input_source?
    .newlink#input_sources
      %h3 Start with
      = link_to 'Mic', chain_mics_url(@chain), :id => 'new_mic', :class => 'btn first col w5'
      = link_to 'Line In', add_line_in_path(:chain_id => @chain.id), :id => 'new_lineIn', :class => 'btn col w5'
      .clear
  .newlink.first
    %h3 Add
    = link_to 'Preamp', chain_preamps_url(@chain), :id => 'new_preamp', :class => 'btn first col w5'
    = link_to 'Dynamics', chain_dynamics_processors_url(@chain), :id => 'new_dynamics', :class => 'btn col w5'
    = link_to 'EQ', chain_equalizers_url(@chain), :id => 'new_eq', :class => 'btn col w5'
    = link_to 'Effects',chain_effects_processors_url(@chain), :id => 'new_effects', :class => 'btn col w5'
    .clear
  .newlink.first
    %h3 Audio
    =h @chain.title
    =h @chain.performer
    =h @chain.year
    - semantic_form_for @chain, :html => {:multipart => true} do |f|
      = f.input :title
      = f.input :performer
      = f.input :year, :label => 'Year Recorded'
      = f.input :audio, :label => false
      = f.commit_button 'Submit'

.w30.col.snug
  - unless complete_message.empty?
    .incomplete_chain= complete_message

%p.first
  = link_to "Edit", edit_chain_path(@chain)
  |
  = link_to "Destroy", @chain, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", chains_path