- title "Chain"

%p
  %strong User:
  =h @chain.user.email
%p
  %strong Status:
  =h @chain.status
%p
  %strong Name:
  =h @chain.name
%p
  %strong Notes:
  =h @chain.notes
%p
  %strong Audio:
  = link_to @chain.audio.url
%p
  %strong Title:
  =h @chain.title
%p
  %strong Performer:
  =h @chain.performer
%p
  %strong Year:
  =h @chain.year
%p
  %strong Studio:
  =h @chain.studio

%ul
  - for tag in @chain.tags
    %li= tag.name

- unless complete_message.empty?
  .incomplete_chain= complete_message

- @chain.gear.each do |gear|
  = render(:partial => 'chain_gears/chain_gear', :object => gear)

- unless @chain.input_source?
  .newlink#input_sources
    %h3 Start with
    = link_to 'Mic', chain_mics_url(@chain)
    = link_to 'Line In', add_line_in_path(:chain_id => @chain.id)
    .clear
.newlink.first
  %h3 Add
  = link_to 'Preamp', chain_preamps_url(@chain)
  = link_to 'Dynamics', chain_dynamics_processors_url(@chain)

- semantic_form_for @chain, :html => {:multipart => true} do |f|
  = f.input :title
  = f.input :performer
  = f.input :year, :label => 'Year Recorded'
  = f.input :studio
  = f.input :audio, :label => false
  = f.commit_button 'Submit'

%p
  = link_to "Edit", edit_chain_path(@chain)
  |
  = link_to "Destroy", @chain, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", chains_path
