- title "Chain"

.chain
  - chain_owner(@chain) do
    .admin
      = link_to "Edit", edit_chain_path(@chain), :class => 'edit', :title => 'Edit Chain'
      = link_to "Delete", @chain, :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete Chain'
  .info
    %h2= h @chain.name
    %h5.first
      by
      = link_to @chain.user.display_name, user_by_login_path(@chain.user.login)
    .community.first
      .social-links
        = like_link(@chain)
        = comments_link(@chain)
    - chain_owner(@chain) do
      - unless @chain.complete?
        .incomplete_chain.first= complete_message
    .first.col.w25
      =textilize @chain.notes
      .tags.col
        %h5.first Tags:
        - for tag in @chain.tags
          %span=link_to(h(tag.name), tag_path(tag.name))

      %br.clear
      - admin_only do
        %br
        = link_to '<span>Feature</span>', feature_chain_path(@chain), :class => 'btn w10'

    - if @input_source.nil?
      .input_source.col
        .first.col.w25
          .newlink#input_sources
            %h3 Start with
            = link_to 'Mic', chain_mics_url(@chain), :id => 'new_mic', :class => 'block-btn first col w5'
            = link_to 'Line In', add_line_in_path(:chain_id => @chain.id), :id => 'new_lineIn', :class => 'block-btn col w5'
            .clear
    - else
      = render(:partial => 'chain_gears/input_source', :object => @input_source)
    .clear
    #audio.first
      = render(:partial => 'chains/audio')
  .clear
  #chain_gear
    = render(:partial => 'chain_gears/chain_gear', :object => @preamp) if @preamp
    %ul{:id => @chain.user == current_user ? 'sortable_chain_gear' : 'chain_gear'}
      = render(:partial => 'chain_gears/chain_gear', :collection => @gear)
  .power

- chain_owner(@chain) do
  .w50.first.col
    .newlink.first#extra_gear
      %h3
        Add
        = image_tag 'helper/arrow.png', :id => 'arrow'
      = link_to 'Preamp', chain_preamps_url(@chain), :id => 'new_preamp', :class => 'block-btn first col w5'
      = link_to 'Converter', chain_converters_url(@chain), :id => 'new_converter', :class => 'block-btn col w5'
      = link_to 'Dynamics', chain_dynamics_processors_url(@chain), :id => 'new_dynamics', :class => 'block-btn col w5'
      = link_to 'EQ', chain_equalizers_url(@chain), :id => 'new_eq', :class => 'block-btn col w5'
      = link_to 'Effects',chain_effects_processors_url(@chain), :id => 'new_effects', :class => 'block-btn col w5'
      .clear
#comments.first
  %h3 Comments

  - authenticated_only do
    .w45.first.col
      - semantic_form_for @chain.comments.new, :url => chain_comments_path(@chain) do |f|
        = render(:partial => 'comments/form', :locals => {:f => f})
    .w20.col
      .avatar
        = image_tag current_user.avatar.url(:thumb)
      .username
        = current_user.display_name
  = render(:partial => 'comments/comment', :collection => @chain.comments)
  .clear
.first
= javascript_include_tag 'rogue/page.chain'
= javascript_include_tag 'plugins/jquery.jplayer'
:javascript
  $("#jquery_jplayer").jPlayer({
    oggSupport: true,
    ready: function ()
    {
      $("#jquery_jplayer").setFile("#{@chain.audio.file.url(:mp3)}", "#{@chain.audio.file.url(:ogg)}");
    }
  });