%h3 Create a New Effects Processor
%p.borderB
  Users will be able to use this piece of gear after you create it. 
  %br
  All fields are not required, but you won't be able to edit them later. 

- semantic_form_for @effects_processor, :html => {:multipart => true} do |f|
  .col.first.w45= render(:partial => 'gear/form', :locals => {:f => f})
  .col.w15
    = f.input :effects_type, :as => :select, :collection => EffectsProcessor.effects_types, :label => 'Type'
    = f.input :interface, :as => :select, :collection => EffectsProcessor.interfaces
    - if @chain
      = hidden_field_tag :chain_id, @chain.id
  .first
    = f.commit_button 'Create Effects Processor'