- title "Effects Processor"

%p
  %strong Make:
  =h @effects_processor.make
%p
  %strong Model:
  =h @effects_processor.model
%p
  %strong Manufactured Date:
  =h @effects_processor.manufactured_date
%p
  %strong Image:
  = image_tag @effects_processor.image.url
%p
  %strong Effects Type:
  =h @effects_processor.effects_type
%p
  %strong Interface:
  =h @effects_processor.interface

= link_to 'Add this effects processor to your chain', add_effects_processor_path(:chain_id => @chain.id, :effects_processor_id => @effects_processor.id)

%p
  = link_to "Edit", edit_effects_processor_path(@effects_processor)
  |
  = link_to "Destroy", @effects_processor, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", effects_processors_path
