%h1 Login
.col.first.w25
  - form_for @user_session, :url => user_session_path do |f|
    - if @user_session.errors.present?
      Invalid username or password

    = f.label :login, 'Username or email'
    = f.text_field :login
    %br
    %br
    = f.label :password
    = f.password_field :password
    %br
    %br
    .left.pad.w10
      = f.check_box :remember_me
      %small
        = f.label :remember_me, 'Remember Me', :class => 'inline'
    = f.submit "Login", :class => 'btn w10 pad'
    %br
    %br
    %br
    .first
      %small= link_to 'Forgot Password?', new_password_reset_path    
.col.w35
  %h6 Don't have a Signal Chains account?
  %p
    Quit being ridiculous.
  %p= link_to '<span>register</span>', new_user_url, :class => 'btn w10'