#nav
  %ul
    %li#home-nav= link_to 'Home', root_path
    %li#gear-nav= link_to 'Gear', gear_path
    %li#chains-nav= link_to 'Chains', chains_path
    %li#profile-nav= link_to 'Profile', '#'
    %li#profile-nav= link_to 'Profile', '#'
    .clear