!!!
%html
  %head
    %meta{:name => "google-site-verification", :content => "bZ05HlfsN5Jvaq1b5BpY1zo7g7kSrwWo9W4wKpKYzrs"}
    = javascript_include_tag('jquery', 'jquery-ui.custom.min', 'plugins/jquery.validate', 'jrails', 'plugins/jquery.form', 'plugins/jquery.scrollTo', 'plugins/jquery.localscroll', 'plugins/jquery.jplayer', 'plugins/jquery.cuteTime.js', '/fancybox/fancybox', 'application.js')
    = stylesheet_link_tag('application', 'style', 'chains', 'events', 'user', 'home', 'custom-theme/custom', 'audioplayer', '/fancybox/fancybox')
    %title= yield(:title) || "Signal Chains"
    = yield(:head)
    %link{ :href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
    - if Rails.env == 'production'
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-10205424-3']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();
  %body

    #master.wrapper
      #left-content
        #header
          = link_to 'Signal Chains', root_url, :id => 'logo'
          = render :partial => "layouts/nav"
        .clear
        = render_flash_messages
        #content.container
          = yield
        .first
      #right-content
        #sidebar
          #controls
            - authenticated_only do
              .session
                = link_to current_user.display_name, edit_account_path, :id => 'edit_profile'
                = link_to 'Log Out', logout_url, :id => 'logout'
            - anonymous_only do
              .session.first
                = link_to 'Login', login_path
                = link_to 'Register', register_path
            .first
              - form_for Search.new do |f|
                = f.text_field :keyword, :size => 16
                = f.submit 'search'
          - if Gear.featured
            #featured-gear-sidebar
              %h4 Featured Gear          
              .first.col.w5
                = link_to(image_tag(Gear.featured.image.url(:micro)), Gear.featured)
              .col.w14
                = link_to(Gear.featured.name, Gear.featured)
              .first
          - if Chain.featured                
            #featured-chain.first
              %h4 Featured Chain
              .first.col.w5
                = link_to(image_tag(Chain.featured.input_source_image(:micro)), Chain.featured)
              .col.w14
                = link_to(Chain.featured.name, Chain.featured)
                by
                = link_to(Chain.featured.user.display_name, user_by_login_path(Chain.featured.user.login))
              .first
          .ad
            = ad
            %br
            %small ADVERTISEMENT
        .clear
      .clear
    .footer.wrapper.redev.white
      .stats
        == #{gear_count} pieces of gear, #{Chain.count} chains, #{User.count} users
      .content
        .col.w15
          %h3 Find
          %ul
            %li= link_to "Chains", chains_path
            %li= link_to "Gear", gear_path
        .col.w15
          %h3 About
          %ul
            %li= link_to "Blog", "http://relativelyearly.com/archive.html"
        .col.w35
          %h3 Contact
          %ul
            %li= link_to "Support/Feedback", "http://support.signalchains.com", :id => 'support'
            %li= link_to "Twitter", "http://twitter.com/signalchains"
            %li= link_to "Advertising", "#"
        .col.w20#mark
          = image_tag '../images/red_logo_white.png', :alt => 'Relatively Early Development'
          = link_to 'A Relatively Early Development', 'http://relativelyearly.com'
          %br
          %br
          %p &copy; 2010 Relatively Early Development
        .first
