!!!
%html
  %head
    = javascript_include_tag('jquery', 'jquery.validate', 'jrails', 'jquery.form', '/fancybox/fancybox')
    = stylesheet_link_tag('application', 'style', '/fancybox/fancybox')
    :javascript
      $(document).ready(function() {
          $('.chain .image a').fancybox({
              'zoomSpeedIn':    300, 
              'zoomSpeedOut': 300, 
              'overlayShow': false,
              'imageScale': true
            });
      });
    %title= yield(:title) || "Relatively Early Development"
  %body
    .wrapper
      - authenticated_only do
        .session
          = link_to 'Log Out', logout_url
      #container
        = render_flash_messages
        = yield
      .push
    .footer.redev
      = image_tag '../images/red_logo.png', :alt => 'Relatively Early Development'
      = link_to 'A Relatively Early Development', 'http://relativelyearly.com'