!!!
%html
  %head
    = javascript_include_tag('jquery', 'jquery-ui.custom.min', 'plugins/jquery.validate', 'jrails', 'plugins/jquery.form', 'plugins/jquery.scrollTo', 'plugins/jquery.localscroll', 'plugins/jquery.jplayer', '/fancybox/fancybox', 'application.js')
    = stylesheet_link_tag('application', 'style', 'chains', 'events', 'user', 'custom-theme/custom', 'audioplayer', '/fancybox/fancybox')
    %title= yield(:title) || "Signal Chains"
  %body

    #master.wrapper
      #left-content
        #header
          = link_to 'Signal Chains', root_url, :id => 'logo'
          = render :partial => "layouts/nav"
        .clear
        = render_flash_messages
        #content.container
          = yield
        .first
      #right-content
        #sidebar
          #controls
            - authenticated_only do
              .session
                = link_to current_user.display_name, edit_account_path, :id => 'edit_profile'
                = link_to 'Log Out', logout_url
            - anonymous_only do
              .session
                = link_to 'Login', login_path
                = link_to 'Register', register_path
            - form_for Search.new do |f|
              = f.text_field :keyword, :size => 16
              = f.submit 'search'
          %h4 Featured Gear
          %h4 Featured Studio
          = ad
        .clear
      .clear
    .footer.wrapper.redev.white
      .stats
        == #{gear_count} pieces of gear, #{Chain.count} chains, #{User.count} users
      .content
        .col.w15
          %h3 Find
          %ul
            %li= link_to "Chains", chains_path
            %li= link_to "Gear", gear_path
            %li= link_to "Engineers", gear_path
        .col.w15
          %h3 About
          %ul
            %li= link_to "What is Signal Chains?", "#"
            %li= link_to "Blog", "#"
        .col.w35
          %h3 Contact
          %ul
            %li= link_to "Support/Feedback", "#", :id => 'support'
            %li= link_to "Twitter", "http://twitter.com/signalchains"
            %li= link_to "Advertising", "#"            
        .col.w20#mark
          = image_tag '../images/red_logo_white.png', :alt => 'Relatively Early Development'
          = link_to 'A Relatively Early Development', 'http://relativelyearly.com'
          %br
          %br
          %p &copy; 2010 Relatively Early Development
        .first
  :javascript
    Tender = {
      hideToggle: true,
      widgetToggles: $('#support')
    }
  = javascript_include_tag('https://signal-chains.tenderapp.com/tender_widget.js')        